<!DOCTYPE html>
<html lang="pl">
<head>
  <link rel="canonical" href="https://drewno-kominkowe-torun.pl/contact">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drewno kominkowe - Kontakt</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="background-color">
<img src="/images/contact-tree.jpg" alt="background-image" class="background-image">
<nav class="navbar navbar-expand-lg navbar-custom custom-border-2 d-none d-lg-flex" >
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link bigger-font hover-lift px-4" href="/">Kim jesteśmy?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bigger-font hover-lift px-4" href="offer">Oferta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bigger-font hover-lift px-4 active-nav" href="contact">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bigger-font hover-lift px-4" href="cart">Koszyk</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar-custom-mobile navbar-mobile d-lg-none custom-border">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mobileNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-home fa-3x custom-icon-color"></i>
            <span class="nav-text">&nbsp;O nas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="offer">
            <i class="fas fa-handshake fa-3x custom-icon-color"></i>
            <span class="nav-text">Oferta</span>
          </a>
        </li>
        <li class="nav-item active-nav">
          <a class="nav-link active-nav" href="contact">
            <i class="fas fa-envelope fa-3x"></i>
            <span class="nav-text-2">Kontakt</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cart">
            <i class="fas fa-shopping-cart fa-3x custom-icon-color"></i>
            <span class="nav-text">Koszyk</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="kontakt" class="my-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="form-container custom-border">
          <form id="contactForm" class="center">
            <div class="mb-3">
              <label for="name" class="form-label font-family-4">* Imię:</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label font-family-4">* Email:</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label font-family-4">Numer telefonu:</label>
              <input type="tel" class="form-control" id="phoneNumber">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label font-family-4">* Wiadomość:</label>
              <textarea id="message" class="form-control textarea-style" required></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Wyślij</button>
            <div class="form-note">* wymagane</div>
          </form>
        </div>
        <div class="successMessage">
          <p>Wiadomość została wysłana pomyślnie! Skontaktujemy się z tobą w jak najkrótszym czasie.</p>
        </div>
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="form-container">
        <address class="font-family-4 bigger-font-2 text-center mt-xxl-5">
          <a href="tel:+48728951456">+48 728951456</a><br>
          <a href="mailto:drewkotorun@gmail.com">drewkotorun@gmail.com</a>
          <br>Wielkie Rychnowo 81<br>
          87-410
        </address>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/cart.js" defer></script>
<script src="/js/checkout.js" defer></script>
<script src="/js/script.js"></script>
</body>
</html>