<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewno kominkowe - Strona główna</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="background-color">
<nav class="navbar navbar-expand-lg navbar-custom custom-border-2 d-none d-lg-flex" >
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="#services">Oferta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="#cennik">Cennik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="contact">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-custom custom-border-2 d-lg-none navbar-mobile">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mobileNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="#services">Oferta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="#cennik">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="/js/script.js"></script>
</body>
</html>