<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewno kominkowe - Strona główna</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="background-color">
<nav class="navbar navbar-expand-lg navbar-custom custom-border-2 d-none d-lg-flex" >
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="/">Kim jesteśmy?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="pricing">Cennik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="contact">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-custom custom-border-2 d-lg-none navbar-mobile">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mobileNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bigger-font hover-lift px-4" href="/">Kim jesteśmy?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="pricing">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<section id="wood-types" class="my-5">
    <h2 class="font-family text-center">Gatunki Drewna, które posiadamy w naszej ofercie</h2>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card service card-height table-color">
                    <img src="/images/buk.png" class="img-fluid sizing card-2" alt="Buk">
                    <div class="card-body-2 text-center">
                        <p class="font-family card-text-2">Buk</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card service card-height table-color">
                    <img src="/images/grab.png" class="img-fluid sizing card-2" alt="Grab">
                    <div class="card-body-2 text-center">
                        <p class="font-family card-text-2">Grab</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card service card-height table-color">
                    <img src="/images/dab.jpg" class="img-fluid sizing card-2" alt="Dąb">
                    <div class="card-body-2 text-center">
                        <p class="font-family card-text-2">Dąb</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card service card-height table-color">
                    <img src="/images/brzoza.jpg" class="img-fluid sizing card-2" alt="Brzoza">
                    <div class="card-body-2 text-center">
                        <p class="font-family card-text-2">Brzoza</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card service card-height table-color">
                    <img src="/images/sosna.jpg" class="img-fluid sizing card-2" alt="Sosna">
                    <div class="card-body-2 text-center">
                        <p class="font-family card-text-2">Sosna</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card service card-height table-color">
                    <img src="/images/podpalka.jpg" class="img-fluid sizing card-2" alt="Podpalka">
                    <div class="card-body-2 text-center">
                        <p class="font-family card-text-2">Podpałka</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/script.js"></script>
</body>
</html>