<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewno kominkowe - Strona główna</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="background-color">
<nav class="navbar navbar-expand-lg navbar-custom custom-border-2 d-none d-lg-flex" >
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="/">Kim jesteśmy?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="offer">Oferta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="contact">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-custom custom-border-2 d-lg-none navbar-mobile">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mobileNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bigger-font hover-lift px-4" href="/">Kim jesteśmy?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="offer">Oferta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<section id="pricing" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Podstawowy</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">50 zł <small class="text-muted">/ bukowe</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Jakość podstawowa</li>
                            <li>Bez dodatkowych opcji</li>
                            <li>Bez gwarancji</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Wybierz plan</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Premium</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">100 zł <small class="text-muted">/ grabowe</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Wysoka jakość</li>
                            <li>Dodatkowe opcje dostępne</li>
                            <li>Gwarancja jakości</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Wybierz plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/script.js"></script>
</body>
</html>