<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewno kominkowe - Cennik</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="background-color">
<nav class="navbar navbar-expand-lg navbar-custom custom-border-2 d-none d-lg-flex" >
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="/">Kim jesteśmy?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="offer">Oferta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="contact">Kontakt</a>
            </li>
        </ul>
    </div>
    <div class="ml-auto">
        <button class="btn btn-outline-primary ml-2" onclick="showCart()">Koszyk</button>
    </div>
</nav>
<nav class="navbar-custom custom-border-2 d-lg-none navbar-mobile">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mobileNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bigger-font hover-lift px-4" href="/">Kim jesteśmy?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="offer">Oferta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ml-auto">
        <button class="btn btn-outline-primary ml-2" onclick="showCart()">Koszyk</button>
    </div>
</nav>
<br>
<br>
<section id="pricing" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Buk</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">50 zł <small class="text-muted">/ 25 cm</small></h1>
                        <label for="bukLength">Wybierz długość:</label>
                        <select id="bukLength" class="form-control">
                            <option value="25">25 cm</option>
                            <option value="30">30 cm</option>
                            <option value="33">33 cm</option>
                            <option value="35">35 cm</option>
                            <option value="40">40 cm</option>
                        </select>
                        <button id="addToCart1" type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="addToCart('Buk')">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Dąb</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">55 zł <small class="text-muted">/ 30 cm</small></h1>
                        <label for="dabLength">Wybierz długość:</label>
                        <select id="dabLength" class="form-control">
                            <option value="25">25 cm</option>
                            <option value="30">30 cm</option>
                            <option value="33">33 cm</option>
                            <option value="35">35 cm</option>
                            <option value="40">40 cm</option>
                        </select>
                        <button id="addToCart2" type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="addToCart('Dąb')">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Grab</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">60 zł <small class="text-muted">/ 33 cm</small></h1>
                        <label for="grabLength">Wybierz długość:</label>
                        <select id="grabLength" class="form-control">
                            <option value="25">25 cm</option>
                            <option value="30">30 cm</option>
                            <option value="33">33 cm</option>
                            <option value="35">35 cm</option>
                            <option value="40">40 cm</option>
                        </select>
                        <button id="addToCart3" type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="addToCart('Grab')">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Sosna</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">45 zł <small class="text-muted">/ 35 cm</small></h1>
                        <label for="sosnaLength">Wybierz długość:</label>
                        <select id="sosnaLength" class="form-control">
                            <option value="25">25 cm</option>
                            <option value="30">30 cm</option>
                            <option value="33">33 cm</option>
                            <option value="35">35 cm</option>
                            <option value="40">40 cm</option>
                        </select>
                        <button id="addToCart4" type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="addToCart('Sosna')">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Brzoza</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">65 zł <small class="text-muted">/ 40 cm</small></h1>
                        <label for="brzozaLength">Wybierz długość:</label>
                        <select id="brzozaLength" class="form-control">
                            <option value="25">25 cm</option>
                            <option value="30">30 cm</option>
                            <option value="33">33 cm</option>
                            <option value="35">35 cm</option>
                            <option value="40">40 cm</option>
                        </select>
                        <button id="addToCart5" type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="addToCart('Brzoza')">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Drewno do rozpałki</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">30 zł <small class="text-muted">/ sztuka</small></h1>
                        <label for="rozpalkaQuantity">Wybierz ilość:</label>
                        <select id="rozpalkaQuantity" class="form-control">
                            <option value="1">1 sztuka</option>
                            <option value="2">2 sztuki</option>
                            <option value="3">3 sztuki</option>
                            <option value="4">4 sztuki</option>
                            <option value="5">5 sztuk</option>
                        </select>
                        <button id="addToCart6" type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="addToCart('Drewno do rozpałki')">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="/js/script.js"></script>
</body>
</html>