<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="canonical" href="https://drewno-kominkowe-torun.pl">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewno kominkowe - Dziękujemy za złożenie zamówienia</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="background-color full-height">
<br>
<br>
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Dziękujemy za złożenie zamówienia!</h1>
            <p class="lead">Skontaktujemy się z tobą w jak najkrótszym czasie.</p>
            <a href="/" class="btn btn-primary mt-3">Wróć do strony głównej</a>
        </div>
    </div>
</div>
<script src="/js/cart.js" defer></script>
<script src="/js/checkout.js" defer></script>
<script src="/js/script.js"></script>
</body>
</html>
